
body
{
    background-color: #dae3e3;
}
div
{
    position: relative;
    top: 0px;
    left: 0px;
}
div>span
{
    position: relative;
    background-color: black;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 40px;
    border-radius: 100%;
    box-shadow: 0 0 10px white;
    animation: k 2s linear 2s infinite alternate;
}
div>span
{
    background-color: coral;
    animation-delay: 0.2s;
}

@keyframes k
{
    0%
    {
        top: 0px;
        left: 0px;
/*				transform: scale(0.3,0.3);*/
    }
    20%
    {
        top: 200px;
        left: 200px;
/*				transform: scale(3,3);*/
    }
    40%
    {
        top: 0px;
        left: 400px;
    }
    60%
    {
        top: 100px;
        left: 600px;
    }
    80%
    {
        top: 0px;
        left: 800px;
    }
    90%
    {
        top: 100px;
        left: 1000px;
    }
    100%
    {
        top: 0px;
        left: 1200px;
    }
}
