{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>HTML TABLE</title>
    <link rel="stylesheet" href="{% static 'css/c11.css' %}">
</head>
<body>
    <center>
        <h1><u>Jspiders Trainers Info:-</u></h1>
        <table border="2px">
            <thead>
                <tr>
                    <th>E.Id</th>
                    <th>EName</th>
                    <th>EDesg</th>
                    <th>ESal</th>
                    <th>ECompay</th>
                </tr>
            </thead>
            <tbody>
                <td>JSP102</td>
                <td>Santosh</td>
                <td>Sr.Trainer</td>
                <td>80000</td>
                <td>Jspiders</td>
            </tbody>
        </table>
    </center>
</body>
</html>