{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
	
</head>
<body>
    <center>
    <h1>Css Translate</h1>
	<div>
		<img src="{% static 'images/IMG-20190509-WA0014.jpg' %}">
		<div id="a">
			<img src="{% static 'images/IMG-20190512-WA0008.jpg' %}">
			<div id="b">
				<img src="{% static 'images/IMG-20190512-WA0005.jpg' %}">
				<div id="c">
					<img src="{% static 'images/IMG-20190512-WA0001.jpg' %}">
					<div id="d">
						<img src="{% static 'images/IMG-20190512-WA0000.jpg' %}">
					</div>
				</div>
			</div>
		</div>
	</div>
</center>
</body>
</html>