{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>HTML TABLES</title>
    <link rel="stylesheet" href="{% static 'css/c6.css' %}">
</head>
<body>
    <center>
        <table border="1px">
            <tr>
                <td rowspan="4">This is a paragraph about me, Ian!<br><br>
                    This is about paragraph about me, Ian!
                </td>

                <th colspan="2">Random Names</th>
            </tr>
            <tr>
                <td>J.Doe</td>
                <td>P.day</td>
            </tr>
            <tr>
                <td>R.Bob</td>
                <td>T.Sam</td>
            </tr>
            <tr>
                <td colspan="2">Contact Me for details</td>
            </tr>
            <tr>
                <td>
                    <h4 align="left">Free Software</h4>
                    1.Linux<br>
                    2.Apache<br>
                    3.MySQL<br>
                    4.PHP
                </td>
                <td colspan="2">Hello</td>
            </tr>
            
        </table>
    </center>
</body>
</html>